{% extends 'layout.html' %}

{% block title %}Post{% endblock %}

{% block content %}
<div>
    <table>
        <tr>
            <td>
                <form action="{{ url_for('allpost')}}">
                    <input type="submit" value="AllPost" id="allpost" name="allpost">
                </form>
            </td>
            <td>
                <form action="{{ url_for('house')}}" method="post">
                    <input type="submit" value="Housing" name="Housing">
                </form>
            </td>
            <td>
                <form action="{{ url_for('visa')}}" method="post">
                    <input type="submit" value="Visa" name="Visa">
                </form>
            </td>
            <td>
                <form action="{{ url_for('travel')}}" method="post">
                    <input type="submit" value="Travel" name="Travel">
                </form>
            </td>
            <td>
                <form action="{{ url_for('courses')}}" method="post">
                    <input type="submit" value="Courses" name="Courses">
                </form>
            </td>
            <td>
                <form action="{{ url_for('others')}}" method="post">
                    <input type="submit" value="Others" name="Others">
                </form>
            </td>
        </tr>
    </table>
    </div>
<div>
    <h2>Housing Post</h2>
    <table>
        <tr>
            <td><h2>PostID</h2></td>
            <td><h2>category</h2></td>
            <td><h2>Username</h2></td>
            <td><h2>Post</h2></td>
        </tr>
        {% for acc in account %}
        <tr>
            <td>{{acc['postid']}}</td>
            <td>{{acc['category']}}</td>
            <td>{{ acc['username'] }}</td>
            <td>{{ acc['comments'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
    <form action="{{ url_for('replyhouse') }}" method="post">
        <table>
            <tr>
                <td><input id= "postid" name="postid" placeholder="postid" id="postid" required></td>
            </tr>
            <tr>
                <td><textarea id="comments" name="comments" placeholder="Post your reply"  rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Make a reply"></td>
            </tr>
                
        </table>
    </form>
</div>
<div>
    <h2>Reply Post</h2>
    <table>
        <tr>
            <td><h2>PostID</h2></td>
            <td><h2>category</h2></td>
            <td><h2>Username</h2></td>
            <td><h2>Post</h2></td>
        </tr>
        {% for rhou in rhouse %}
        <tr>
            <td>{{rhou['postid']}}</td>
            <td>{{rhou['category']}}</td>
            <td>{{rhou['username'] }}</td>
            <td>{{rhou['replies'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}