<!-- This page will allow users to login -->
<!-- It will take two values email and password -->
<!-- It will send a POST request to the server -->
<!-- at route login -->
<!-- Path: templates/Login.html -->

<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email" id = "email"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" id = "password"/></td>
                </tr>
                <tr>
                    <td><button id="login" >
                        Login
                    </button></td>
                </tr>
        </form>
        <p id = "status">
        </p>
    </body>

    <script>
        document.getElementById("login").addEventListener("click", function(event){
            event.preventDefault();
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            if (email == "" || password == ""){
                alert("Please fill all the fields");
                return
            }
            else{
                fetch('http://127.0.0.1:5000/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: email,
                        password: password
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    if (data.status == "success"){
                        document.getElementById("status").innerHTML = "Login Successful";
                        document.getElementById("status").style.color = "green";
                        window.location.href = "/";

                    }
                    else{
                        document.getElementById("status").innerHTML = "Login Failed";
                        document.getElementById("status").style.color = "red";
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        });
    </script>

</html>